

<div class="container mt-5">
  <h1> {{descTitulo}}</h1>
  <form [formGroup]="agendaForm" (ngSubmit)="submit()" #formDir="ngForm">

    <div class="mt-03">
      <label class="fom-label">Data Hora</label>
      <input type="datetime" placeholder="00/00/0000 00:00" class="form-control" formControlName="dataHora" />
    </div>

    <div class="mt-03">
      <label class="fom-label">Cliente</label>
      <input type="text" id="idCliente" placeholder="Insira o Cliente" class="form-control" formControlName="idCliente" />
    </div>

    <div class="mt-03">
      <label class="fom-label">Barbeiro</label>
      <input type="text" id="idBarbeiro" placeholder="Insira o Barbeiro" class="form-control" formControlName="idBarbeiro" />
    </div>

    <div class="mt-03">
      <label class="fom-label">Servico</label>
      <input type="text" id="idServico" placeholder="Insira o Servico" class="form-control" formControlName="idServico" />
    </div>

    <div class="mt-03">
      <label class="fom-label">Comanda</label>
      <input type="text" placeholder="Insira a Comanda" class="form-control" formControlName="comanda" />
    </div>

    <div class="d-flex mt-3">
      <button class="btn btn-success w-50 mx-1" type="submit">{{ btnAcao }}</button>
      <a class="btn btn-info w-50" [routerLink]="['/agenda']">Voltar</a>
    </div>

  </form>
</div>
