<div class="container mt-5">
  <button class="btn btn-success w-100" [routerLink]="['/cadastroBarbeiro']"> Cadastrar novo barbeiro</button>
  <div>
    <label class="form-label">Pesquisar:</label>
    <input class="form-control" type="text" placeholder="Qual barbeiro deseja buscar?" (input)="search($event)"/>
  </div>

<table class="table table-hoven table-borbered mt-5">
  <thead class="table-dark">
    <tr>
      <th>id</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Especialidade</th>
      <th></th>
    </tr>
  </thead>


<tbody>
  @if (barbeiros.length > 0) {
    @for (barbeiro of barbeiros; track $index) {

      <tr>
        <td>{{ barbeiro.idBarbeiro }}</td>
        <td>{{ barbeiro.nome }}</td>
        <td>{{ barbeiro.telefone }}</td>
        <td>{{ barbeiro.especialidade }}</td>
        <td>
          <button class="btn btn-warning mx-2"> Editar</button>
          <button class="btn btn-danger mx-2"> Excluir</button>
        </td>
      </tr>


    }
  }@else {
    <tr class="text-center">
      <td colspan="7">Nenhum barbeiro cadastrado!</td>
    </tr>
  }
</tbody>
</table>

</div>
